/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding:0px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 1;
    text-align: right;
    padding:0px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding:80px;

}
nav1 ul li {

   list-style: none;
    margin: 0;
    text-align: left;
    padding:0px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}
body{
    
        background-image: url('war-with-alien-robots-cartoon-concept_1441-3241.jpg');
        background-size: cover; /* This ensures the image covers the entire background */
    }
    
